@import url(https://fonts.googleapis.com/css?family=Roboto:500);

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;


.navbar {
    height: 5rem;
    width: 100%;
    background: rgb(255, 255, 255);
    color: var(--colors-text);
    position: fixed;
    top: 0;
    padding: 0 10vw;
    font-weight: bold;
    border-bottom: 1px solid var(--color-gray);
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  .img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  }

.logoutBtn {
    color: brown;
    background-color: brown;
}

.btnLogo {
    background-color: var(--color-text);
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

.googleBtn {
  width: 184px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
  .wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

.username {
  width: 100%;
  // height: 3rem;
  background-color: coral;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
  }
}
  